@font-face {
  font-family: "iconfont"; /* Project id 4181446 */
  src: url('iconfont.woff2?t=1691802517874') format('woff2'),
       url('iconfont.woff?t=1691802517874') format('woff'),
       url('iconfont.ttf?t=1691802517874') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fasong:before {
  content: "\e622";
}

.icon-bofangqi-danmudingbukai:before {
  content: "\e69b";
}

.icon-danmukaiqi:before {
  content: "\e613";
}

.icon-danmuguanbi:before {
  content: "\e614";
}

.icon-danmushezhi:before {
  content: "\e608";
}

.icon-danmu:before {
  content: "\e624";
}

.icon-jingxuanyoupin:before {
  content: "\e73b";
}

.icon-jingxuan1:before {
  content: "\e606";
}

.icon-jingxuan:before {
  content: "\e60f";
}

.icon-zhuanhuan:before {
  content: "\e612";
}

.icon-zhuanfa:before {
  content: "\e653";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-yushouhuore:before {
  content: "\e662";
}

.icon-cai:before {
  content: "\e701";
}

